a {
    cursor: pointer;
}

body {
    background-color: #eeeeee;
}

.header {
    margin: 0;
    background: #309cca;
    color: #f1f1f1;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    margin: 0;
}

.help-block {
    font-size: 12px;
}

.bg-dark {
    background-color: #412fe9f6!important;
}

a.logo {
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 2em;
}

a.logo:link {
    text-decoration: none;
}

.navbar-nav {
    margin-left: 40%;
}

.nav-item {
    margin-right: 6px;
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 2vh;
    width: 170px;
}

img {
    height: 500px;
    width: 1200px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.7fr;
    grid-template-areas: ". . ." ". . .";
}

* {
    box-sizing: border-box;
}


/* Create three equal columns that floats next to each other */

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
    /* Should be removed. Only for demonstration */
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.tainer {
    display: flex;
    width: 110em;
}

.marge {
    margin-top: 10vh;
    margin-left: -20vh;
}