<div class="col-md-6 col-md-offset-3">
    <h2>Création d'un exercice</h2>
    <form name="form" (ngSubmit)="f.form.valid && createExercice()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !titre.valid }">
            <label for="title">Titre de l'article</label>
            <input type="text" class="form-control" name="title" [(ngModel)]="exercice.title" #titre="ngModel" required />
            <div *ngIf="f.submitted && !titre.valid" class="help-block">Titre requis</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !contenu.valid }">
            <label for="articleContenu">Contenu de l'article</label>
            <input type="textarea" class="form-control" name="articleContenu" [(ngModel)]="exercice.articleContenu" #contenu="ngModel" required />
            <div *ngIf="f.submitted && !contenu.valid" class="help-block">Contenu requis</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !datePublication.valid }">
            <label for="publishDate">Date de publication</label>
            <input type="text" class="form-control" name="publishDate" [(ngModel)]="exercice.publishDate" #datePublication="ngModel" required />
            <div *ngIf="f.submitted && !datePublication.valid" class="help-block">Date de publication requise</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !source.valid }">
            <label for="source">Source de l'article</label>
            <input type="text" class="form-control" name="source" [(ngModel)]="exercice.source" #source="ngModel" required />
            <div *ngIf="f.submitted && !source.valid" class="help-block">Source requise</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !domaine.valid }">
            <label for="domain">Domaine traité</label>
            <input type="text" class="form-control" name="domain" [(ngModel)]="exercice.domain" #domaine="ngModel" required />
            <div *ngIf="f.submitted && !domaine.valid" class="help-block">Domaine requis</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !langue.valid }">
            <label for="lang">Langue de l'article</label>
            <input type="text" class="form-control" name="lang" [(ngModel)]="exercice.lang" #langue="ngModel" required />
            <div *ngIf="f.submitted && !langue.valid" class="help-block">Langue requise</div>
        </div>
        <div><div><h2>Barème</h2></div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !noteVocabulaire.valid }">
                <label for="maxGradeVocab">Vocabulaire</label>
                <input type="text" class="form-control" name="maxGradeVocab" [(ngModel)]="exercice.maxGradeVocab" #noteVocabulaire="ngModel" required />
                <div *ngIf="f.submitted && !noteVocabulaire.valid" class="help-block">Bareme vocabulaire requis</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !noteTraduction.valid }">
                <label for="maxGradeTrad">Traduction</label>
                <input type="text" class="form-control" name="maxGradeTrad" [(ngModel)]="exercice.maxGradeTrad" #noteTraduction="ngModel" required />
                <div *ngIf="f.submitted && !noteTraduction.valid" class="help-block">Bareme traduction requis</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !noteGrammaire.valid }">
                <label for="maxGradeGramar">Grammaire</label>
                <input type="text" class="form-control" name="maxGradeGramar" [(ngModel)]="exercice.maxGradeGramar" #noteGrammaire="ngModel" required />
                <div *ngIf="f.submitted && !noteGrammaire.valid" class="help-block">Bareme grammaire requis</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !noteIG.valid }">
                <label for="maxGradeGlobalIdee">Idée globale</label>
                <input type="text" class="form-control" name="maxGradeGlobalIdee" [(ngModel)]="exercice.maxGradeGlobalIdee" #noteIG="ngModel" required />
                <div *ngIf="f.submitted && !noteIG.valid" class="help-block">Bareme idée globale requis</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !noteArgumentation.valid }">
                <label for="maxGradeArgumentation">Argumentation</label>
                <input type="text" class="form-control" name="maxGradeArgumentation" [(ngModel)]="exercice.maxGradeArgumentation" #noteArgumentation="ngModel" required />
                <div *ngIf="f.submitted && !noteArgumentation.valid" class="help-block">Bareme argumentation requis</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !noteLiens.valid }">
                <label for="maxGradeExternalLinks">Liens externes</label>
                <input type="text" class="form-control" name="maxGradeExternalLinks" [(ngModel)]="exercice.maxGradeExternalLinks" #noteLiens="ngModel" required />
                <div *ngIf="f.submitted && !noteLiens.valid" class="help-block">Bareme liens externes requis</div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Création</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a [routerLink]="['/login']" class="btn btn-link">Annuler</a>
        </div>
    </form>
</div>
