h1 {
    font-size: 22px;
}

.groups-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}

.group-card {
    cursor: pointer;
    width: 200px;
    height: 100px;
    padding: 5px;
    margin: 10px;
    box-shadow: 3px 3px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.group-card:hover {
    background-color: #afecff;
}

.creator {
    font-size: 16px;
    font-style: oblique;
    color: #989898;
}