<link href="mygroups.component.css" rel="stylesheet" />

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<div class="tainer marge">


    <div class="groups-container" *ngIf="currentUser && myGroups">
        <h1>Groupe dont vous êtes administrateur <br><br></h1>
        <div *ngFor="let group of myGroups">
            <div class="group-card " (click)="goToGroupDetails(group.groupname)">
                <div>{{group.groupname}}</div>
            </div>
        </div>
    </div>
    <div class="groups-container" *ngIf=" currentUser && myGroups.length === 0">
        Vous êtes administrateur d'aucun groupe
    </div>


    <div class="groups-container" *ngIf="currentUser && memberGroups">
        <h1>Groupes dont vous êtes membre <br><br></h1>
        <div *ngFor="let group of memberGroups">
            <div class="group-card" (click)="goToGroupDetails(group.groupname)">
                <div>{{group.groupname}}</div>
                <div class="creator">par {{group.admin.username}}</div>
            </div>
        </div>
        <div class="groups-container" *ngIf="currentUser && memberGroups.length === 0">
            Vous êtes membre d'aucun groupe
        </div>
    </div>



    <div class="groups-container" *ngIf="currentUser && otherGroups">
        <h1>Autres groupes</h1>
        <div *ngFor="let group of otherGroups">
            <div class="group-card" (click)="goToGroupDetails(group.groupname)">
                <div>{{group.groupname}}</div>
                <div class="creator">par {{group.admin.username}}</div>
            </div>

        </div>
        <div class="groups-container" *ngIf="currentUser && otherGroups.length === 0">
            Aucun autre groupe à afficher ...
        </div>

    </div>

</div>
<div align="center" style="margin-top:15vh">
    <a style="width: 35%; font-size:2vh" class="btn btn-primary" [routerLink]="['/group/create']">Créer un groupe</a>

</div>