<link href="mygroups.component.css" rel="stylesheet" />
<div>
    <h1>Bonjour {{currentUser.username}}!</h1>

    <div class="groups-container" *ngIf="groups">
        <div *ngFor="let group of groups">
            <div class="group-card" *ngIf="currentUser && group.admin.username === currentUser.username" (click)="goToGroupDetails(group.groupname)">
                <h2>{{group.groupname}}</h2>
                par {{group.admin.username}}
            </div>
        </div>
    </div>
    <span *ngIf="!groups">Vous n'avez aucun groupe ...</span>
    <p><a [routerLink]="['/group/create']">Créer un groupe</a></p>
    <p><a [routerLink]="['']">Accueil</a></p>
</div>