.page {
    width: 100%;
    /* padding: 5px;
    /* margin: 10px; */
    /* margin-left: 0px; */
    /* box-shadow: 3px 3px 10px;
    background-color: rgba(194, 194, 194, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #373737;  */
}

.page h2 {
    color: #216ea5;
    font-size: 26px;
    margin: 5px;
    width: 100%;
    text-align: center;
}

.adder {
    font-size: 24px;
    font-weight: lighter;
    background-color: #00b500;
    color: whitesmoke;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    border-radius: 50%;
}

.grader-area {
    font-size: 26px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 230, 0, 0.41);
}

.grader {
    width: 50px;
    background-color: rgba(0, 230, 0, 0.41);
}

.title {
    width: 95%;
    padding: 5px;
    margin: 10px;
    box-shadow: 3px 3px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.block1 {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.block1 .sous-block1 {
    width: 50%;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 3px 3px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    text-align: justify;
}

.block1 .sous-block2 {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.langue {
    width: 100%;
    padding: 5px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    box-shadow: 3px 3px 10px;
    background-color: white;
    display: flex;
    justify-content: center;
}

.vocabulaire {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    box-shadow: 3px 3px 10px;
    background-color: white;
}

.traduction {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    box-shadow: 3px 3px 10px;
    background-color: white;
}

.grammaire {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    box-shadow: 3px 3px 10px;
    background-color: white;
}

.ideeglobale {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    box-shadow: 3px 3px 10px;
    background-color: white;
}

.argumentation {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    box-shadow: 3px 3px 10px;
    background-color: white;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.lien {
    width: 100%;
    padding: 5px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    box-shadow: 3px 3px 10px;
    background-color: white;
}

.block2 {
    width: 95%;
    display: flex;
    flex-direction: column;
}

.btn-primary {
    background-color: #00c300;
}

.btn-cancel {
    background-color: #cb0000;
    color: whitesmoke;
}

.kicker {
    color: #cb0000;
    cursor: pointer;
}

.form-group {
    width: 95%;
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}