<div>

    <h1 style="margin-left:-20vh;text-align:left;font-size:3vh">Welcome {{currentUser.username}} !</h1>
    <h2 style="text-align: center;font-size:5vh">CoeLearning Languages platform</h2>

    <img class="im" style="margin-left:100px" align="center" src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.15752-9/61519290_405328620311075_3845102976783876096_n.png?_nc_cat=104&_nc_ht=scontent-cdg2-1.xx&oh=b9717a26633b17d722a137aac724bcd5&oe=5D5B11AD" alt="header"
        width="1000" height="auto">

</div>